<h2>Categories List</h2>

<%= link_to 'New Category', new_category_path %>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.title, category_path(category) %></li>
  <% end %>
</ul>

<p>Total Categories: <%= @categories.size %></p>

<%= link_to 'New Idea', new_idea_path %>
