<h2>Categories List</h2>

<%= link_to 'New Category', new_category_path %>

<ul>
  <% @categories.each do |category| %>
    <li><%= category.title %></li>
  <% end %>
</ul>

<p>Total Categories: <%= @categories.size %></p>
